<!--group 25-->
<!--* Youshao Xiao - 876548-->
<!--* Jiaheng Zhu - 848432-->
<!--* Lina Zhou - 941539-->
<!--* Haimei Liu - 895804-->
<!--* Miaomiao Zhang - 895216-->

<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en-gb" class="isie ie7 oldie no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en-gb" class="isie ie8 oldie no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en-gb" class="isie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lt IE 9]--><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--[endif]-->
  <title>web for assignment2 - group 25</title>
  <meta name="description" content="This is the web for assignment2 of cluster and cloud computing">
  <!--[if lt IE 9]--><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><!--[endif]-->
  <!--[if lte IE 8]--><script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script><!--[endif]-->
  <link rel="stylesheet" href="/external/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/isotope.css" media="screen" />
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="/css/animate.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Assets -->
  <link href="/js/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Font Awesome -->
  <link href="/font/css/font-awesome.min.css" rel="stylesheet">

  <!-- Leaflet Map -->
  <link rel="stylesheet" href="/css/leaflet.css" type="text/css" />
  <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
  <link rel="stylesheet" href="/mystyle.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
  <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

  <!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="/js/jquery-1.12.3.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="/js/vicgeo.js"></script>
  <script src="/js/emojiindex.js"></script>
  

  <style type="text/css">
    .img-border { border: 3px solid rgb(4,128,58); }
    .duty { color: rgb(4,128,58); }
    fieldset {
      border: 0;
      margin-left: 50px;
    }
    label {
      display: block;
      margin: 20px 0 0 0;
    }
    select {
      width: 300px;
    }
    #confirmBtn {
      margin-left: 50px;
      margin-top: 30px;
      width: 300px;
    }
  </style>

</head>

<body>

<!-- This is the navigation bar -->
  <header class="header">
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand scroll-top logo  animated bounceInLeft"><b><i>COMP90024</i></b></a>
          </div>
          <!--/.navbar-header-->
          <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="mainNav">
              <li class="active" id="firstLink"><a href="#home" class="scroll-link">Home</a></li>
              <li><a href="#Q1" class="scroll-link">Happiness VS Income</a></li>
              <li><a href="#Q2" class="scroll-link">Happiness VS Education</a></li>
              <li><a href="#Q3" class="scroll-link">Favourite System VS Income</a></li>
              <li><a href="#Q4" class="scroll-link">Favourite Emoji VS Happiness</a></li>
              <li><a href="#Group" class="scroll-link">Group</a></li>
            </ul>
          </div>
          <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
      </div>
      <!--/.container-->
    </header>

<!-- This is the home page, showing title and background image -->
  <section id="home">
      <div class="banner-container"> <img src="/images/top.gif" alt="banner" />
        <div class="container banner-content">
          <div class="hero-text animated fadeInDownBig">
            <h1 class="responsive-headline" style="font-size: 40px;"> Cluster and Cloud Computing<br/>
              Assignment 2</h1>

             <a href="#" class="arrow-link"> <i class="fa fa-chevron-down"></i> </a>
          
          </div>

          <!-- <a class="hero-button learn-more smoothscroll text-center" href="#features">Learn More</a>-->
          <!-- <div class="hero-img"> <img src="images/homepage-1204-background-lapto.png" alt="" class="text-center animated fadeInUpBig"/></div>-->
        </div>
      </div>
      <div class="container hero-text2">
        <h3>This is the web application showing our result of assignment2.</h3>
              </div>
    </section>
  <script type="text/javascript">

 window.onload = function barChart() {
        var chart = new CanvasJS.Chart("barChartContainer",
           {
              title:{
                text: "Happiness Index in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y}(From{b}Twitters) - Weekly Income:${a}"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=was%>,b:<%=wan%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vis%>,b:<%=vin%>},
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nss%>,b:<%=nsn%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=cts%>,b:<%=ctn%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qus%>,b:<%=qun%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=sas%>,b:<%=san%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tas%>,b:<%=tan%>},
                   {y: <%=nth%>, label: "Northern Territory" ,a:<%=nts%>,b:<%=ntn%>}
                 ]
                },
                              ]
            });
        chart.render();

   var chart2 = new CanvasJS.Chart("barChartContainer2",
            {
              title:{
                text: "Happiness Index in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y}(From{b}Twitters) - 9 years or longer education:{a}%"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=ntb%>+<%=ntc%>,b:<%=ntn%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qub%>+<%=quc%>,b:<%=qun%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vib%>+<%=vic%>,b:<%=vin%>},
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nsb%>+<%=nsc%>,b:<%=nsn%>},
                   {y: <%=sah%>, label: "South Australia" ,a:<%=sab%>+<%=sac%>,b:<%=san%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tab%>+<%=tac%>,b:<%=tan%>},
                   {y: <%=wah%>, label: "Western Australia" ,a:<%=wab%>+<%=wac%>,b:<%=wan%>},
                   {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=ctb%>+<%=ctc%>,b:<%=ctn%>}
                 ]
                },
                              ]
            });
        chart2.render();

        var chart3 = new CanvasJS.Chart("barChartContainer3",
            {
              title:{
                text: "Different System of Twitter in States"
              },
              axisY:{
                title: "System"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "{name}:{y}% - Weekly Income:${a}"
              },
              data:[
                {
                  type: "stackedBar100",
                  showInLegend: true,
                  name: "IOS",
                  dataPoints: [
                    {y: <%=wai%>, label: "Western Australia" ,a:<%=was%>},
                    {y: <%=vii%>, label: "Victoria" ,a:<%=vis%>},
                    {y: <%=nsi%>, label: "New South Wales",a:<%=nss%>},
                    {y: <%=cti%>, label: "Australian Capital Territory" ,a:<%=cts%>},
                    {y: <%=qui%>, label: "Queensland" ,a:<%=qus%>},
                    {y: <%=sai%>, label: "South Australia" ,a:<%=sas%>},
                    {y: <%=tai%>, label: "Tasmania" ,a:<%=tas%>},
                    {y: <%=nti%>, label: "Northern Territory" ,a:<%=nts%>}
                 ]
                },
                {
                  type: "stackedBar100",
                  showInLegend: true,
                  name: "Android",
                  dataPoints: [
                    {y: <%=wad%>, label: "Western Australia" ,a:<%=was%>},
                    {y: <%=vid%>, label: "Victoria" ,a:<%=vis%>},
                    {y: <%=nsd%>, label: "New South Wales",a:<%=nss%>},
                    {y: <%=ctd%>, label: "Australian Capital Territory" ,a:<%=cts%>},
                    {y: <%=qud%>, label: "Queensland" ,a:<%=qus%>},
                    {y: <%=sad%>, label: "South Australia" ,a:<%=sas%>},
                    {y: <%=tad%>, label: "Tasmania" ,a:<%=tas%>},
                    {y: <%=ntd%>, label: "Northern Territory" ,a:<%=nts%>}
                 ]
                }

                              ]
            });
        chart3.render();
        
        var chart4 = new CanvasJS.Chart("barChartContainer4",
            {
              title:{
                text: "Favourite Emoji in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y}(From{b}Twitters) - favourite emoji:{a}"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                   {y: <%=nth%>, label: "Northern Territory" ,a:"&<%=nte%>",b:<%=ntn%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:"&<%=tae%>",b:<%=tan%>},
                   {y: <%=sah%>, label: "South Australia" ,a:"&<%=sae%>",b:<%=san%>},
                   {y: <%=cth%>, label: "Australian Capital Territory" ,a:"&<%=cte%>",b:<%=ctn%>},
                    {y: <%=nsh%>, label: "New South Wales",a:"&<%=nse%>",b:<%=nsn%>},
                    {y: <%=quh%>, label: "Queensland" ,a:"&<%=que%>",b:<%=qun%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:"&<%=wae%>",b:<%=wan%>},
                    {y: <%=vih%>, label: "Victoria" ,a:"&<%=vie%>",b:<%=vin%>}
          ]
                }
                              ]
            });
        chart4.render();




      };


 
      function pieChart1() {
        var pieChart1 = new CanvasJS.Chart("pieChartContainer1",
            {
              theme:"theme2",
              title:{
                text: "New South Wales"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false,  
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=nsc%>, legendText:">12years", exploded: true },
                    {  y: <%=nsb%>, legendText:"9-12years", exploded: true },
                    {  y: <%=nsa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart1.render();};
      function pieChart2() {
        var pieChart2 = new CanvasJS.Chart("pieChartContainer2",
            {
              theme:"theme2",
              title:{
                text: "Queensland"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=quc%>, legendText:">12years", exploded: true },
                    {  y: <%=qub%>, legendText:"9-12years", exploded: true },
                    {  y: <%=qua%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart2.render();};
      function pieChart3() {

        var pieChart3 = new CanvasJS.Chart("pieChartContainer3",
            {
              theme:"theme2",
              title:{
                text: "South Australia"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 30,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=sac%>, legendText:">12years", exploded: true },
                    {  y: <%=sab%>, legendText:"9-12years", exploded: true },
                    {  y: <%=saa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart3.render();};
      function pieChart4() {

        var pieChart4 = new CanvasJS.Chart("pieChartContainer4",
            {
              theme:"theme2",
              title:{
                text: "Victoria"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=vic%>, legendText:">12years", exploded: true },
                    {  y: <%=vib%>, legendText:"9-12years", exploded: true },
                    {  y: <%=via%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart4.render(); };







      function pieChart5() {
        var pieChart5 = new CanvasJS.Chart("pieChartContainer5",
            {
              theme:"theme2",
              title:{
                text: "Western Australia"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=wac%>, legendText:">12years", exploded: true },
                    {  y: <%=wab%>, legendText:"9-12years", exploded: true },
                    {  y: <%=waa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart5.render();};

      function pieChart6() {
        var pieChart6 = new CanvasJS.Chart("pieChartContainer6",
            {
              theme:"theme2",
              title:{
                text: "Tasmania"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=tac%>, legendText:">12years", exploded: true },
                    {  y: <%=tab%>, legendText:"9-12years", exploded: true },
                    {  y: <%=taa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart6.render();};

      function pieChart7() {

        var pieChart7 = new CanvasJS.Chart("pieChartContainer7",
            {
              theme:"theme2",
              title:{
                text: "Northern Territory"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=ntc%>, legendText:">12years", exploded: true },
                    {  y: <%=ntb%>, legendText:"9-12years", exploded: true },
                    {  y: <%=nta%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart7.render();

};
      function pieChart8() {
        var pieChart8 = new CanvasJS.Chart("pieChartContainer8",
            {
              theme:"theme2",
              title:{
                text: "Australian Capital Territory"
              },
              animationEnabled: true,
              backgroundColor: 'rgba(255, 255, 255, 0)',
                  plotBorderColor : null,
                  plotBackgroundColor: null,
                  plotBackgroundImage:null,
                  plotBorderWidth: null,
                  plotShadow: false, 
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y}% - {legendText}",
                  dataPoints: [
                    {  y: <%=ctc%>, legendText:">12years", exploded: true },
                    {  y: <%=ctb%>, legendText:"9-12years", exploded: true },
                    {  y: <%=cta%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart8.render();




      }





    </script>



    <div class=" text-center">
      <!-- Heading -->
      <h2>Income Heat Map in Victoria</h2>
      <p>This heat map is based on the average income level per family in Victoria. From this map we can explore average income, happiness index, percentage of having 9 years or more education, the percentage of twitter send by IOS system and the favourite emoji in every district.</p>
    </div>
<div id="googleMap" style="width:96%;height:600px;margin-left:20px;margin-right:50px"></div>

     <div id="Q5">
        <p>The income data and the percentage of having nine years or more education is from <a href="http://portal.aurin.org.au">AURIN</a>, which is the acronym of "Australian Urban Research Infrastructure Network".The other data including happiness index and favourite emoji is from Twitter.</p>
      </div>              


      </div>


    </div>

  </section>

<br/><br/>


  <section id="Q1">

    <script>
      $(function() {
        $( "#Q1" ).tabs();
      });

        </script>




    <div class=" text-center">
      <!-- Heading -->
      <hr/>
      <h2>Happiness VS Income</h2>
      <p>This part present the relationship between the happiness index and average income in eight states in Australia.</p>
    </div>


    <div id="Q1" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
      

      <div id="Q1.1">
        <p></p>
        <p> The Happiness index in each state is the average number of all Twitters' happiness index sent from this state. States are listed in descending order of income.</p>
        <div id="barChartContainer" style="height: 450px; width: 80%; margin: auto"></div>
        <p>From this bar chart, Northern Territory is the state having the highest happiness index, where the average income is the highest as well. On the other hand, Twitters from Victoria shows the lowest happiness index among the eight states. The average income in this state is the the second lowest. The state with lowest income is Western Australia, where the happiness index is the second lowest.</p>
<p>So it is true that to some extent, the people having higher income feel happier. </p>
      </div>         

          </div>
        





  </section>




  <br/><br/>

  <section id="Q2">

    <script>
      $(function() {
        $( "#Q2" ).tabs();
      });

        </script>




   
    <div class=" text-center">
      <!-- Heading -->
      <hr/>
      <h2>Happiness VS Education</h2>
      <p>This part present the relationship between the happiness index and average education level in eight states in Australia.</p>
    </div>


    <div id="Q2" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
      <ul style="background: lightgrey;">
        <li onclick="pieChart1();pieChart2();pieChart3();pieChart4();pieChart5();pieChart6();pieChart7();pieChart8()"><a href="#Q2.1">Education Situation in States</a></li>
        <li><a href="#Q2.2" >Happiness Index in States</a></li>

      </ul>

      <div id="Q2.1">
        <p>These pie charts show the percentage of people who receive education under nine years, nine to twelve years and over twelve years. The data is from AURIN.</p>

<ul style="background: lightgrey">

        <div class="container-fluid">
          <div class="row">
           <div class="col-md-12">
            <div class="col-md-2 col-sm-2 col-xs2">
              <div id="pieChartContainer1" style="height: 100%; width: 100%;background-color: Reba(0,0,0,1);"></div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer2" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer3" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer4" style="height: 100%; width: 100%;"></div>
            </div>
       </div>  
 </div>
</div> 

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        <div class="container-fluid">

         <div class="row">
           <div class="col-md-12">

            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer5" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer6" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer7" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div id="pieChartContainer8" style="height: 100%; width: 100%;"></div>
            </div>
          </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div> 
    
 </ul>

     <p>According to the pie chart, most people receive education for nine to twelve years in every states. But Australian Capital Territory have the largest percentage(93.8%) of people who are educated longer than nine years while less than eighty percent of Northern Territory citizens receive education for more than nine years.</p>
     </div> 
</div>
     <div id="Q2.2">
<p>The happiness index is calculated from Twitter data to explore the relationship between happiness and education level.States are listed in descending order of education level.</p>
        <div id="barChartContainer2" style="height: 450px; width: 80%; margin: auto"></div> 
       <p>From this bar chart, the state having the largest happiness index is Northern Territory, where the education level is the lowest according to the statistic of percentage of people having shorter than nine years education. However, the second largest happiness index is in Tasmania, where the education level is the third highest according to the same criteria.</p>
       <p>Therefore, there is no direct relation between happiness and education.</p>
      </div>        

          </div>
        </div>


      </div>
     

  </section>





  <br/><br/> 



  <section id="Q3">
    <script>
      $(function() {
        $( "#Q3.2" ).tabs();
      });

    </script>



    <div class=" text-center">
      <!-- Heading -->
      <h2>Favourite System VS Income</h2>
      <p>Different system of mobile give different user experience. This part is to explore if the income level could influence the choice of system.States are listed in descending order of income.</p>
    </div>

     <div id="Q3.2">
        <div id="barChartContainer3" style="height: 450px; width: 80%; margin: auto"></div>
<p>We can see that in all states, ISO is more popular than Android. Northern Territory have the largest percentage of Twitters from IOS system and the highest average income. On the contrast, Western Australia have the largest percentage of Twitters from Android system and the lowest average income.</p>
      </div>              


      </div>


    </div>

  </section>

<br/><br/>
<hr />

 <section id="Q4">
    <script>
      $(function() {
        $( "#Q4.1" ).tabs();
      });

    </script>



    <div class=" text-center">
      <!-- Heading -->
      <h2>Favourite Emoji VS Happiness</h2>
      <p>In this part, the emoji which is used most often in Twitters in each states are recorded to find if happiness index could influence this.</p>
    </div>
        <div id="barChartContainer4" style="height: 450px; width: 80%; margin: auto"></div>
        <p>It can be seen that the cool Face is used most often in Northern Territory where the happiness index is the highest. However, a trying face is the favourite emoji in Tasmania, where the happiness index is the second highest. So, there is no direct relationship between happiness and emoji on the average understanding of the meaning of emoji.</p>
      </div>              


      </div>


    </div>

  </section>

<br/><br/>




     


    

  </section>

<br/><br/>



  <section id="Group">
      <div class="container-fluid">

      <div class="heading text-center">
   <div class="page-section colord">

        <!-- Heading -->

        <h2>Group Members</h2>
      </div></div>

      <div class="row-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/ysx.jpg" class="img-border"/>
            <!-- Member Details -->
            <h4>Youshao Xiao</h4>
            <!-- Designation -->
            <span class="pos">876548</span>
            <div class="team-socials">            </div>
            <span class="pos duty">project management & dynamic deployment & crawler</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/jhz.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Jiaheng Zhu</h4>
            <!-- Designation -->
            <span class="pos">848432</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">web service design</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/lnz.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Lina Zhou</h4>
            <!-- Designation -->
            <span class="pos">941539</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">couchdb setup & mapreduce view</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/hml.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Haimei Liu</h4>
            <!-- Designation -->
            <span class="pos">895804</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">data analysis & scenario design</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/mmz.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Miaomiao Zhang</h4>
            <!-- Designation -->
            <span class="pos">895216</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">front website & scenario design and analysis</span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
<center>
        <a href="https://youtu.be/sVI488u2po4" class="btn btn-info btn-lg" role="button" target="_blank">Watch Instruction Video</a>
     <p>To see more information, click the button and watch the video on Youtube.</p>

</center>
  </section>
      </div>





      </div>
    </div>
    <!--/.container-->
  </section>


    </div>
  </footer>

    <!--/.page-section-->
  <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">2018 s1. Group 25.</div>
        </div>
        <!-- / .row -->
      </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>



  <script src="/js/modernizr-latest.js"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="/js/jquery.nav.js" type="text/javascript"></script>
  <script src="/js/jquery.fittext.js"></script>
  <script src="/js/waypoints.js"></script>

    <!--<script src="contact/jqBootstrapValidation.js"></script>-->
    <!--<script src="contact/contact_me.js"></script>-->

  <script src="/js/custom.js" type="text/javascript"></script>
  <script src="/js/owl-carousel/owl.carousel.js"></script>

  <script type="text/javascript" src="/canvasjs.min.js"></script></head>

<script>
    var raw = <%- JSON.stringify(all_data) %>
    var all_data = JSON.parse(raw);
    function initMap() {
    var mapProp= {
              center: {lat: -37.8141, lng: 144.9633},
              zoom: 11,
               mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    map.data.addGeoJson(vicIncome);
 map.data.setStyle(function(feature){
    var income = feature.getProperty('income');
    var color = income > 1600 ? '#8B0000' :
                income > 1400 ? '#FF0000' :
                income > 1200 ? '#FF6347' :
                income > 1000 ? '#CD5C5C' :
                income > 800  ? '#BC8F8F' :
                income > 600  ? '#F08080' :
                                '#FFFAFA';
    return {
        fillColor:color,
        strokeWeight:1
    };
 });
    map.data.addListener('mouseover', function(event) {
        map.data.revertStyle();
        map.data.overrideStyle(event.feature, {strokeWeight: 4});
    });
    map.data.addListener('mouseout', function(event) {
        map.data.revertStyle();
    });
    var infoWindow;
    infoWindow = new google.maps.InfoWindow;
    map.data.addListener('click', function (event) {
        if(event.feature.getProperty('isColorful')) 
        {
            event.feature.setProperty('isColorful', false);
        }
        else
        {
            event.feature.setProperty('isColorful', true);  
        }
        var suburb = event.feature.getProperty('vic_lga__3');
        var suburb_income;
        var suburb_index;
        var suburb_education;
        var suburb_ios;
        var suburb_emoji;
        var suburb_amount;
        for (var ele in all_data) {
           
                if (all_data[ele]['name'].toUpperCase() == suburb.toUpperCase()) {
                  
                   suburb_amount = all_data[ele]['amount'];
                   suburb_income = all_data[ele]['income'];
                   suburb_index = all_data[ele]['index'];
                   suburb_education = all_data[ele]['education'];
                   suburb_ios = all_data[ele]['ios'];
                   suburb_emoji = all_data[ele]['emoji'];
                }
            }
        var content = "<p class='map-popup-content' > <strong>" + suburb + "</strong>" +
                      "</br> <strong>Twitter amount: </strong>" + suburb_amount +
                      "</br> <strong>Income: </strong>" + suburb_income +
                      "</br> <strong>Happiness Index: </strong>" + suburb_index +
                      "</br> <strong>Edu > 9yr: </strong>" + suburb_education + "%" +
                      "</br> <strong>IOS percent: </strong>" + suburb_ios + "%" +
                      "</br>" + suburb_emoji;
        infoWindow.setContent(content+"</p>")
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
    });
    }
   
   

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4J8k1UAm7GRy3rAB-p9qrfOHlHK2hwno&callback=initMap">
    </script>

    </body>
</html>

