<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en-gb" class="isie ie7 oldie no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en-gb" class="isie ie8 oldie no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en-gb" class="isie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lt IE 9]--><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--[endif]-->
  <title>未改web for assignment2 - group 25</title>
  <meta name="description" content="This is the web for assignment2 of cluster and cloud computing">
  <!--[if lt IE 9]--><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><!--[endif]-->
  <!--[if lte IE 8]--><script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script><!--[endif]-->
  <link rel="stylesheet" href="/external/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/isotope.css" media="screen" />
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="/css/animate.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Assets -->
  <link href="/js/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Font Awesome -->
  <link href="/font/css/font-awesome.min.css" rel="stylesheet">

  <!-- Leaflet Map -->
  <link rel="stylesheet" href="/css/leaflet.css" type="text/css" />
  <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
  <link rel="stylesheet" href="/mystyle.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
  <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

  <!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="/js/jquery-1.12.3.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="/js/vicgeo.js"></script>


  <style type="text/css">
    .img-border { border: 3px solid rgb(4,128,58); }
    .duty { color: rgb(4,128,58); }
    fieldset {
      border: 0;
      margin-left: 50px;
    }
    label {
      display: block;
      margin: 20px 0 0 0;
    }
    select {
      width: 300px;
    }
    #confirmBtn {
      margin-left: 50px;
      margin-top: 30px;
      width: 300px;
    }
  </style>

</head>

<body>

<!-- This is the navigation bar -->
  <header class="header">
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand scroll-top logo  animated bounceInLeft"><b><i>COMP90024</i></b></a>
          </div>
          <!--/.navbar-header-->
          <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="mainNav">
              <li class="active" id="firstLink"><a href="#home" class="scroll-link">Home主页</a></li>
              <li><a href="#Q1" class="scroll-link">情景1</a></li>
              <li><a href="#Q2" class="scroll-link">情景2</a></li>
              <li><a href="#Q3" class="scroll-link">情景3</a></li>
              <li><a href="#Q4" class="scroll-link">情景4</a></li>
              <li><a href="#Group" class="scroll-link">Group</a></li>
            </ul>
          </div>
          <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
      </div>
      <!--/.container-->
    </header>

<!-- This is the home page, showing title and background image -->
  <section id="home">
      <div class="banner-container"> <img src="/images/sunset.gif" alt="banner" />
        <div class="container banner-content">
          <div class="hero-text animated fadeInDownBig">
            <h1 class="responsive-headline" style="font-size: 40px;"> Cluster and Cloud Computing<br/>
              Assignment 2</h1>

             <a href="#" class="arrow-link"> <i class="fa fa-chevron-down"></i> </a>
          
          </div>

          <!-- <a class="hero-button learn-more smoothscroll text-center" href="#features">Learn More</a>-->
          <!-- <div class="hero-img"> <img src="images/homepage-1204-background-lapto.png" alt="" class="text-center animated fadeInUpBig"/></div>-->
        </div>
      </div>
      <div class="container hero-text2">
        <h3>This is the web application showing our result of assignment2.</h3>
              </div>
    </section>
  <script>

 window.onload = function barChart() {
        var chart = new CanvasJS.Chart("barChartContainer",
           {
              title:{
                text: "Happiness Index in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y} - Weekly Income:{a}"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nss%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qus%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=sas%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tas%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vis%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=cts%>},
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=nts%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=was%>}
                  ]
                },
                              ]
            });
        chart.render();

    var chart2 = new CanvasJS.Chart("barChartContainer2",
            {
              title:{
                text: "Happiness Index in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y} - 9 years or longer education:{a}"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nsb%>+<%=nsc%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qub%>+<%=quc%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=sab%>+<%=sac%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tab%>+<%=tac%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vib%>+<%=vic%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=ctb%>+<%=ctc%>},
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=ntb%>+<%=ntc%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=wab%>+<%=wac%>}
                  ]
                },
                              ]
            });
        chart2.render();

        var chart3 = new CanvasJS.Chart("barChartContainer3",
            {
              title:{
                text: "Different System of Twitter in States"
              },
              axisY:{
                title: "System"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "{name}:{y}% - Income:{a}"
              },
              data:[
                {
                  type: "stackedBar100",
                  showInLegend: true,
                  name: "ISO",
                  dataPoints: [
                    {y: <%=nsi%>, label: "New South Wales",a:<%=nss%>},
                    {y: <%=qui%>, label: "Queensland" ,a:<%=qus%>},
                    {y: <%=sai%>, label: "South Australia" ,a:<%=sas%>},
                    {y: <%=vii%>, label: "Victoria" ,a:<%=vis%>},
                    {y: <%=wai%>, label: "Western Australia" ,a:<%=was%>},
                    {y: <%=tai%>, label: "Tasmania" ,a:<%=tas%>},
                    {y: <%=nti%>, label: "Northern Territory" ,a:<%=nts%>},
                    {y: <%=cti%>, label: "Australian Capital Territory" ,a:<%=cts%>}
                  ]
                },
  {
                  type: "stackedBar100",
                  showInLegend: true,
                  name: "Android",
                  dataPoints: [
                    {y: <%=nsd%>, label: "New South Wales",a:<%=nss%>},
                    {y: <%=qud%>, label: "Queensland" ,a:<%=qus%>},
                    {y: <%=sad%>, label: "South Australia" ,a:<%=sas%>},
                    {y: <%=vid%>, label: "Victoria" ,a:<%=vis%>},
                    {y: <%=wad%>, label: "Western Australia" ,a:<%=was%>},
                    {y: <%=tad%>, label: "Tasmania" ,a:<%=tas%>},
                    {y: <%=ntd%>, label: "Northern Territory" ,a:<%=nts%>},
                    {y: <%=ctd%>, label: "Australian Capital Territory" ,a:<%=cts%>}
                  ]
                }

                              ]
            });
        chart3.render();





      };


 
      function pieChart1() {
        var pieChart1 = new CanvasJS.Chart("pieChartContainer1",
            {
              theme:"theme2",
              title:{
                text: "New South Wales"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=nsc%>, legendText:">12years", exploded: true },
                    {  y: <%=nsb%>, legendText:"9-12years", exploded: true },
                    {  y: <%=nsa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart1.render();};
      function pieChart2() {
        var pieChart2 = new CanvasJS.Chart("pieChartContainer2",
            {
              theme:"theme2",
              title:{
                text: "Queensland"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=quc%>, legendText:">12years", exploded: true },
                    {  y: <%=qub%>, legendText:"9-12years", exploded: true },
                    {  y: <%=qua%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart2.render();};
      function pieChart3() {

        var pieChart3 = new CanvasJS.Chart("pieChartContainer3",
            {
              theme:"theme2",
              title:{
                text: "South Australia"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=sac%>, legendText:">12years", exploded: true },
                    {  y: <%=sab%>, legendText:"9-12years", exploded: true },
                    {  y: <%=saa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart3.render();};
      function pieChart4() {

        var pieChart4 = new CanvasJS.Chart("pieChartContainer4",
            {
              theme:"theme2",
              title:{
                text: "Victoria"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=vic%>, legendText:">12years", exploded: true },
                    {  y: <%=vib%>, legendText:"9-12years", exploded: true },
                    {  y: <%=via%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart4.render(); };







      function pieChart5() {
        var pieChart5 = new CanvasJS.Chart("pieChartContainer5",
            {
              theme:"theme2",
              title:{
                text: "Western Australia"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=wac%>, legendText:">12years", exploded: true },
                    {  y: <%=wab%>, legendText:"9-12years", exploded: true },
                    {  y: <%=waa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart5.render();};

      function pieChart6() {
        var pieChart6 = new CanvasJS.Chart("pieChartContainer6",
            {
              theme:"theme2",
              title:{
                text: "Tasmania"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=tac%>, legendText:">12years", exploded: true },
                    {  y: <%=tab%>, legendText:"9-12years", exploded: true },
                    {  y: <%=taa%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart6.render();};

      function pieChart7() {

        var pieChart7 = new CanvasJS.Chart("pieChartContainer7",
            {
              theme:"theme2",
              title:{
                text: "Northern Territory"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=ntc%>, legendText:">12years", exploded: true },
                    {  y: <%=ntb%>, legendText:"9-12years", exploded: true },
                    {  y: <%=nta%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart7.render();

};
      function pieChart8() {
        var pieChart8 = new CanvasJS.Chart("pieChartContainer8",
            {
              theme:"theme2",
              title:{
                text: "Australian Capital Territory"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - {legendText}",
                  dataPoints: [
                    {  y: <%=ctc%>, legendText:">12years", exploded: true },
                    {  y: <%=ctb%>, legendText:"9-12years", exploded: true },
                    {  y: <%=cta%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart8.render();




      }





    </script>





  <section id="Q1">

    <script>
      $(function() {
        $( "#Q1" ).tabs();
      });

        </script>




    <div class=" text-center">
      <!-- Heading -->
      <hr/>
      <h2>场景1</h2>
      <p>第一部分介绍</p>
    </div>


    <div id="Q1" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
      <ul style="background: lightgrey;">
        <li><a href="#Q1.1">情景1.1条形</a></li>
        <li><a href="#Q1.2" >情景1.2地图 到区</a></li>

      </ul>

      <div id="Q1.1">
        <p></p>
        <p>小简介1.1</p>
        <div id="barChartContainer" style="height: 450px; width: 80%; margin: auto"></div>
        <p>场景1.1总结</p>
      </div>        

          </div>
        </div>

      </div>

      </div>

     <div id="googleMap" style="width:96%;height:600px;margin-left:20px;margin-right:50px"></div>

<script>
    var raw = <%- JSON.stringify(all_data) %>
    var all_data = JSON.parse(raw);
    function initMap() {
    var mapProp= {
              center: {lat: -37.8141, lng: 144.9633},
              zoom: 11,
              // mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    map.data.addGeoJson(vicIncome);
 map.data.setStyle(function(feature){
    var income = feature.getProperty('income');
    var color = income > 1600 ? '#8B0000' :
                income > 1400 ? '#FF0000' :
                income > 1200 ? '#FF6347' :
                income > 1000 ? '#CD5C5C' :
                income > 800  ? '#BC8F8F' :
                income > 600  ? '#F08080' :
                                '#FFFAFA';
    return {
        fillColor:color,
        strokeWeight:1
    };
 });
    map.data.addListener('mouseover', function(event) {
        map.data.revertStyle();
        map.data.overrideStyle(event.feature, {strokeWeight: 4});
    });
    map.data.addListener('mouseout', function(event) {
        map.data.revertStyle();
    });
    var infoWindow;
    infoWindow = new google.maps.InfoWindow;
    map.data.addListener('click', function (event) {
        if(event.feature.getProperty('isColorful')) 
        {
            event.feature.setProperty('isColorful', false);
        }
        else
        {
            event.feature.setProperty('isColorful', true);  
        }
        var suburb = event.feature.getProperty('vic_lga__3');
        var suburb_income;
        var suburb_index;
        var suburb_education;
        var suburb_ios;
        for (var ele in all_data) {
           
                if (all_data[ele]['name'].toUpperCase() == suburb.toUpperCase()) {
                  
                   suburb_income = all_data[ele]['income'];
                   suburb_index = all_data[ele]['index'];
                   suburb_education = all_data[ele]['education'];
                   suburb_ios = all_data[ele]['IOS'];
                }
            }
        var content = "<p class='map-popup-content' >" + suburb +
                      "</br> Income: " + suburb_income +
                      "</br> Twitter Index: " + suburb_index +
                      "</br> Edu > 9yr: " + suburb_education +
                      "</br> IOS percent: " + suburb_ios;
        infoWindow.setContent(content+"</p>")
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
    });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4J8k1UAm7GRy3rAB-p9qrfOHlHK2hwno&callback=initMap">
    </script>

  </section>




  <br/><br/>

  <section id="Q2">

    <script>
      $(function() {
        $( "#Q2" ).tabs();
      });

        </script>




   
    <div class=" text-center">
      <!-- Heading -->
      <hr/>
      <h2>场景2</h2>
      <p>第2部分介绍</p>
    </div>


    <div id="Q2" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
      <ul style="background: lightgrey;">
        <li onclick="pieChart1();pieChart2();pieChart3();pieChart4();pieChart5();pieChart6();pieChart7();pieChart8()"><a href="#Q2.1">情景2aurin数据(饼图)</a></li>
        <li><a href="#Q2.2" >情景2twitter数据(条形)</a></li>

      </ul>

      <div id="Q2.1">
        <p>2.1简介</p>

        <div class="container-fluid">
          <div class="row">
           <div class="col-md-12">

            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer1" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer2" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer3" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer4" style="height: 100%; width: 100%;"></div>
            </div>
       </div>  
 </div>
</div> 

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        <div class="container-fluid">

         <div class="row">
           <div class="col-md-12">

            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer5" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer6" style="height: 100%; width: 100%;"></div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer7" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="pieChartContainer8" style="height: 100%; width: 100%;"></div>
            </div>
          </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div> 
      
     <p>2.1总结</p>
     </div> 
</div>
     <div id="Q2.2">
<p>场景2.2简介</p>
        <div id="barChartContainer2" style="height: 450px; width: 80%; margin: auto"></div> 
       <p>场景2总结</p>
      </div>        

          </div>
        </div>


      </div>
     

  </section>





  <br/><br/> 



  <section id="Q3">
    <script>
      $(function() {
        $( "#Q3.2" ).tabs();
      });

    </script>



    <div class=" text-center">
      <!-- Heading -->
      <h2>情景3</h2>
      <p>情景3简介</p>
    </div>

     <div id="Q3.2">
        <div id="barChartContainer3" style="height: 450px; width: 80%; margin: auto"></div>
        <p>场景3总结</p>
      </div>              


      </div>


    </div>

  </section>

<br/><br/>


 <section id="Q4">
    <script>
      $(function() {
        $( "#Q4.1" ).tabs();
      });

    </script>



    <div class=" text-center">
      <!-- Heading -->
      <h2>情景4</h2>
      <p>情景4简介</p>
    </div>
<p>待插入地图～～～～～</p>
     <div id="Q4.1">
        <p>场景4总结</p>
      </div>              


      </div>


    </div>

  </section>

<br/><br/>



  <section id="Group" class="page-section colord">
    <div class="container">
      <div class="heading text-center">
           <div class="container-fluid">

      <div class="heading text-center">
        <!-- Heading -->
        <h2>Group Members</h2>
      
      </div>

      <div class="row-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/ysx.jpg" class="img-border"/>
            <!-- Member Details -->
            <h4>Youshao Xiao</h4>
            <!-- Designation -->
            <span class="pos">学号</span>
            <div class="team-socials">            </div>
            <span class="pos duty">个人分工任务</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/jhz.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Jiaheng Zhu</h4>
            <!-- Designation -->
            <span class="pos">学号</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">个人分工任务</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/lnz.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Lina Zhou</h4>
            <!-- Designation -->
            <span class="pos">学号</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">个人分工任务</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/hml.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Haimei Liu</h4>
            <!-- Designation -->
            <span class="pos">学号</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">个人分工任务</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="team-member pDark">
            <img alt="140x140" src="/images/mmz.jpg" class="img-border" />
            <!-- Member Details -->
            <h4>Miaomiao Zhang</h4>
            <!-- Designation -->
            <span class="pos">895216</span>
            <div class="team-socials">
            </div>
            <span class="pos duty">个人分工任务</span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>



  </section>
      </div>

     




      </div>
    </div>
    <!--/.container-->
  </section>


    </div>
  </footer>

    <!--/.page-section-->
  <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">2018 s1. Group 25.</div>
        </div>
        <!-- / .row -->
      </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>



  <script src="/js/modernizr-latest.js"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="/js/jquery.nav.js" type="text/javascript"></script>
  <script src="/js/jquery.fittext.js"></script>
  <script src="/js/waypoints.js"></script>

    <!--<script src="contact/jqBootstrapValidation.js"></script>-->
    <!--<script src="contact/contact_me.js"></script>-->

  <script src="/js/custom.js" type="text/javascript"></script>
  <script src="/js/owl-carousel/owl.carousel.js"></script>

  <script type="text/javascript" src="/canvasjs.min.js"></script></head>



    </body>


</html>