<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en-gb" class="isie ie7 oldie no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en-gb" class="isie ie8 oldie no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en-gb" class="isie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lt IE 9]--><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--[endif]-->
  <title>web for assignment2 - group 25</title>
  <meta name="description" content="This is the web for assignment2 of cluster and cloud computing">
  <!--[if lt IE 9]--><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><!--[endif]-->
  <!--[if lte IE 8]--><script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script><!--[endif]-->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/isotope.css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="/stylesheets/animate.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Assets -->
  <link href="/stylesheets/owl.carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <!-- Font Awesome -->
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

  <!-- Leaflet Map -->
  <link rel="stylesheet" href="/stylesheets/leaflet.css" type="text/css" />
  <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
  <link rel="stylesheet" href="/stylesheets/mystyle.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css" type="text/css">
  <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

  <!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="/javascripts/jquery-1.12.3.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
<script src="/javascripts/testagain.js"></script>
<script src="/javascripts/modernizr-latest.js"></script>
  <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.nav.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.fittext.js"></script>
  <script src="/javascripts/waypoints.js"></script>
  <script src="/javascripts/jquery.isotope.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
    <!--<script src="contact/jqBootstrapValidation.js"></script>-->
    <!--<script src="contact/contact_me.js"></script>-->

  <script src="/javascripts/custom.js" type="text/javascript"></script>
  <script src="/javascripts/owl.carousel.js"></script>

  <script type="text/javascript" src="/javascripts/canvasjs.min.js"></script>



  <style type="text/css">
    .img-border { border: 3px solid rgb(4,128,58); }
    .duty { color: rgb(4,128,58); }
    fieldset {
      border: 0;
      margin-left: 50px;
    }
    label {
      display: block;
      margin: 20px 0 0 0;
    }
    select {
      width: 300px;
    }
    #confirmBtn {
      margin-left: 50px;
      margin-top: 30px;
      width: 300px;
    }
  </style>

</head>

<body>

<!-- This is the navigation bar -->
  <header class="header">
      <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand scroll-top logo  animated bounceInLeft"><b><i>COMP90024</i></b></a>
          </div>
          <!--/.navbar-header-->
          <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="mainNav">
              <li class="active" id="firstLink"><a href="#home" class="scroll-link">Home主页</a></li>
              <li><a href="#Q1" class="scroll-link">情景1</a></li>
              <li><a href="#Q2" class="scroll-link">情景2</a></li>
              <li><a href="#Q3" class="scroll-link">情景3</a></li>
              <li><a href="#Group" class="scroll-link">Group</a></li>
            </ul>
          </div>
          <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
      </div>
      <!--/.container-->
    </header>

<!-- This is the home page, showing title and background image -->
  <section id="home">
        <div class="container banner-content">
          <div class="hero-text animated fadeInDownBig">
            <h1 class="responsive-headline" style="font-size: 40px;"> Cluster and Cloud Computing<br/>
              Assignment 2</h1>

             <a href="#" class="arrow-link"> <i class="fa fa-chevron-down"></i> </a>
          
          </div>

          <!-- <a class="hero-button learn-more smoothscroll text-center" href="#features">Learn More</a>-->
          <!-- <div class="hero-img"> <img src="images/homepage-1204-background-lapto.png" alt="" class="text-center animated fadeInUpBig"/></div>-->
        </div>
      </div>
      <div class="container hero-text2">
        <h3>This is the web application showing our result of assignment2.</h3>
              </div>
    </section>
  <script>

 window.onload = function barChart() {
        var chart = new CanvasJS.Chart("barChartContainer",
           {
              title:{
                text: "Happiness Index in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y} - Income:{a}"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nss%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qus%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=sas%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vis%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=was%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tas%>},
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=nts%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=cts%>}
                  ]
                },
                              ]
            });
        chart.render();

    var chart2 = new CanvasJS.Chart("barChartContainer2",
            {
              title:{
                text: "Happiness Index in States"
              },
              axisY:{
                title: "Happiness Index"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "Happiness:{y} - Education:{a}"
              },
              data:[
                {
                  type: "stackedBar",
                  showInLegend: true,
                  name: "Index",
                  dataPoints: [
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nsa%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qua%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=saa%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=via%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=waa%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=taa%>},
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=nta%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=cta%>}
                  ]
                },
                              ]
            });
        chart2.render();

        var chart3 = new CanvasJS.Chart("barChartContainer3",
            {
              title:{
                text: "Different System of Twitter in States"
              },
              axisY:{
                title: "System"
              },
              animationEnabled: true,
              toolTip:{
                shared: true,
                content: "{name}:{y}% - Income:{a}"
              },
              data:[
                {
                  type: "stackedBar100",
                  showInLegend: true,
                  name: "ISO",
                  dataPoints: [
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nsi%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qui%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=sai%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vii%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=wai%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tai%>},
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=nti%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=cti%>}
                  ]
                },
  {
                  type: "stackedBar100",
                  showInLegend: true,
                  name: "Android",
                  dataPoints: [
                    {y: <%=nsh%>, label: "New South Wales",a:<%=nsd%>},
                    {y: <%=quh%>, label: "Queensland" ,a:<%=qud%>},
                    {y: <%=sah%>, label: "South Australia" ,a:<%=sad%>},
                    {y: <%=vih%>, label: "Victoria" ,a:<%=vid%>},
                    {y: <%=wah%>, label: "Western Australia" ,a:<%=wad%>},
                    {y: <%=tah%>, label: "Tasmania" ,a:<%=tad%>},
                    {y: <%=nth%>, label: "Northern Territory" ,a:<%=ntd%>},
                    {y: <%=cth%>, label: "Australian Capital Territory" ,a:<%=ctd%>}
                  ]
                }

                              ]
            });
        chart3.render();





      };

 
      function pieChart() {
        var pieChart1 = new CanvasJS.Chart("pieChartContainer1",
            {
              theme:"theme2",
              title:{
                text: "New South Wales"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=nsa%>, legendText:"<9years", exploded: true },
                    {  y:<%=nsb%>, legendText:"9-12years", exploded: true },
                    {  y:<%=nsc%>, legendText:">12years", exploded: true }
                  ]
                }
              ]
            });

        pieChart1.render();

        var pieChart2 = new CanvasJS.Chart("pieChartContainer2",
            {
              theme:"theme2",
              title:{
                text: "Queensland"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=qua%>, legendText:">12years", exploded: true },
                    {  y:<%=qub%>, legendText:"9-12years", exploded: true },
                    {  y:<%=quc%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart2.render();

        var pieChart3 = new CanvasJS.Chart("pieChartContainer3",
            {
              theme:"theme2",
              title:{
                text: "South Australia"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=saa%>, legendText:">12years", exploded: true },
                    {  y:<%=sab%>, legendText:"9-12years", exploded: true },
                    {  y:<%=sac%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart3.render();

        var pieChart4 = new CanvasJS.Chart("pieChartContainer4",
            {
              theme:"theme2",
              title:{
                text: "Victoria"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=via%>, legendText:">12years", exploded: true },
                    {  y:<%=vib%>, legendText:"9-12years", exploded: true },
                    {  y:<%=vic%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart4.render();


        var pieChart5 = new CanvasJS.Chart("pieChartContainer5",
            {
              theme:"theme2",
              title:{
                text: "Western Australia"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=waa%>, legendText:">12years", exploded: true },
                    {  y:<%=wab%>, legendText:"9-12years", exploded: true },
                    {  y:<%=wac%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart5.render();


        var pieChart6 = new CanvasJS.Chart("pieChartContainer6",
            {
              theme:"theme2",
              title:{
                text: "Tasmania"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=taa%>, legendText:">12years", exploded: true },
                    {  y:<%=tab%>, legendText:"9-12years", exploded: true },
                    {  y:<%=tac%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart6.render();



        var pieChart7 = new CanvasJS.Chart("pieChartContainer5",
            {
              theme:"theme2",
              title:{
                text: "Northern Territory"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=nta%>, legendText:">12years", exploded: true },
                    {  y:<%=ntb%>, legendText:"9-12years", exploded: true },
                    {  y:<%=ntc%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart7.render();


        var pieChart8 = new CanvasJS.Chart("pieChartContainer6",
            {
              theme:"theme2",
              title:{
                text: "Australian Capital Territory"
              },
              animationEnabled: true,
              legend:{
                verticalAlign: "bottom",
                horizontalAlign: "center"
              },
              data: [
                {
                  indexLabelFontSize: 20,
                  indexLabelFontFamily: "Monospace",
                  indexLabelFontColor: "darkgrey",
                  indexLabelLineColor: "darkgrey",
                  indexLabelPlacement: "outside",
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{y} - <strong>#percent%</strong>",
                  dataPoints: [
                    {  y:<%=cta%>, legendText:">12years", exploded: true },
                    {  y:<%=ctb%>, legendText:"9-12years", exploded: true },
                    {  y:<%=ctc%>, legendText:"<9years", exploded: true }
                  ]
                }
              ]
            });

        pieChart8.render();




      }





    </script>





  <section id="Q1">

    <script>
      $(function() {
        $( "#Q1" ).tabs();
      });

        </script>




    <div class=" text-center">
      <!-- Heading -->
      <hr/>
      <h2>场景1</h2>
      <p>第一部分介绍</p>
    </div>


    <div id="Q1" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
      <ul style="background: lightgrey;">
        <li><a href="#Q1.1">情景1.1条形</a></li>
        <li><a href="#Q1.2" >情景1.2地图 到区</a></li>

      </ul>

      <div id="Q1.1">
        <p></p>
        <p>小简介1.1</p>
        <div id="barChartContainer" style="height: 450px; width: 80%; margin: auto"></div>
        <p>场景1.1总结</p>
      </div>        

          </div>
        </div>

      </div>

      </div>

     <div id="googleMap" style="width:96%;height:600px;margin-left:20px;margin-right:50px"></div>

<script>
    var raw = <%- JSON.stringify(all_data) %>
    var all_data = JSON.parse(raw);
    function initMap() {
    var mapProp= {
              center: {lat: -37.8141, lng: 144.9633},
              zoom: 11,
              // mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    map.data.addGeoJson(vicIncome);
 map.data.setStyle(function(feature){
    var income = feature.getProperty('income');
    var color = income > 1600 ? '#800026' :
                income > 1400 ? '#BD0026' :
                income > 1200 ? '#E31A1C' :
                income > 1000 ? '#FC4E2A' :
                income > 800  ? '#FD8D3C' :
                income > 600  ? '#FEB24C' :
                                '#FFEDA0';
    return {
        fillColor:color,
        strokeWeight:1
    };
 });
    map.data.addListener('mouseover', function(event) {
        map.data.revertStyle();
        map.data.overrideStyle(event.feature, {strokeWeight: 4});
    });
    map.data.addListener('mouseout', function(event) {
        map.data.revertStyle();
    });
    var infoWindow;
    infoWindow = new google.maps.InfoWindow;
    map.data.addListener('click', function (event) {
        if(event.feature.getProperty('isColorful')) 
        {
            event.feature.setProperty('isColorful', false);
        }
        else
        {
            event.feature.setProperty('isColorful', true);  
        }
        var suburb = event.feature.getProperty('vic_lga__3');
        var suburb_income;
        var suburb_index;
        var suburb_education;
        var suburb_ios;
        for (var ele in all_data) {
           
                if (all_data[ele]['name'].toUpperCase() == suburb.toUpperCase()) {
                  
                   suburb_income = all_data[ele]['income'];
                   suburb_index = all_data[ele]['index'];
                   suburb_education = all_data[ele]['education'];
                   suburb_ios = all_data[ele]['IOS'];
                }
            }
        var content = "<p class='map-popup-content' >" + suburb +
                      "</br> Income: " + suburb_income +
                      "</br> Twitter Index: " + suburb_index +
                      "</br> Edu > 9yr: " + suburb_education +
                      "</br> IOS percent: " + suburb_ios;
        infoWindow.setContent(content+"</p>")
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
    });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4J8k1UAm7GRy3rAB-p9qrfOHlHK2hwno&callback=initMap">
    </script>





  </section>




  <br/><br/>

  <section id="Q2">

    <script>
      $(function() {
        $( "#Q2" ).tabs();
      });

        </script>




   
    <div class=" text-center">
      <!-- Heading -->
      <hr/>
      <h2>场景2</h2>
      <p>第2部分介绍</p>
    </div>


    <div id="Q2" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
      <ul style="background: lightgrey;">
        <li onclick="pieChart()"><a href="#Q2.1">情景2aurin数据(饼图)</a></li>
        <li><a href="#Q2.2" >情景2twitter数据(条形)</a></li>

      </ul>

      <div id="Q2.1">
        <p>2.1简介</p>
        <div class="container-fluid">
          <div class="row-fluid">


            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer1" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer2" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer3" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer4" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer5" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer6" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer7" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
              <div id="pieChartContainer8" style="height: 100%; width: 100%;"></div>
            </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </div> 
       </div>  
     <p>2.1总结</p>
     </div> 
       </div>

     <div id="Q2.2">
        <p></p>
        <p>小简介2.2</p>
        <div id="barChartContainer2" style="height: 450px; width: 80%; margin: auto"></div>
        <p>场景2总结</p>
      </div>        

          </div>
        </div>

      </div>

      </div>
     

  </section>





  <br/><br/> 



  <section id="Q3">
    <script>
      $(function() {
        $( "#Q3.2" ).tabs();
      });

    </script>



    <div class=" text-center">
      <!-- Heading -->
      <h2>情景3</h2>
      <p>情景3简介</p>
    </div>

     <div id="Q3.2">
        <div id="barChartContainer3" style="height: 450px; width: 80%; margin: auto"></div>
        <p>场景3总结</p>
      </div>              


      </div>


    </div>

  </section>

<br/><br/>






  
      </div>

     




      </div>
    </div>
    <!--/.container-->
  </section>


    </div>
  </footer>

    <!--/.page-section-->
  <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">2018 s1. Group 25.</div>
        </div>
        <!-- / .row -->
      </div>
    </section>
   



  </head>



    </body>


</html>